
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<form name="f1" action="/GuiEmail_61133801/Index" method="post">
    <div>
        <h4>CHUC NANG GUI EMAIL</h4>
        Gui tu email:   <br /><input type="text" name="From"> <br />
        Mat khat:   <br /><input type="password" name="Password"> <br />
        Gui den emial:  <br /><input type="text" name="To"> <br />
        Tieu de:   <br /> <input type="text" name="Subject"> <br />
        Noi dung:   <br /><input type="text" name="Body" style="padding:0 100 100 0" > <br />

        <input type="submit" value= "Gui email" style="margin-top:10"/>
    </div>
</form>

