
@{
    ViewBag.Title = "Index";
    Layout = null;
}


<form name="f1" action="/SinhVien_61133801/Register2" method="post" style="margin:10">
    <h4>THONG TIN SINH VIEN</h4>
    <div>
        Ma sinh vien: <input type="text" name="Id" style="margin-left: 10"> <br />
        Ho va ten:    <input type="text" name="Name" style="margin-left: 32"> <br />
        Diem:         <input type="text" name="Marks" style="margin-left: 58" />
    </div>
    <div><input type="submit" value="Dang ky" style="margin-left: 110" /></div>

</form>


