@{
    ViewBag.Title = "Register2";
    Layout = null;
}


<div>
    <h4>THONG TIN SINH VIEN DA DANG KY</h4>
    Ma sinh vien: @ViewBag.Id <br />
    Ho va ten: @ViewBag.Name <br />
    Diem: @ViewBag.Marks
</div>
<div><a href="/SinhVien_61133801/Index">Quay lai</a></div>